[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "test_pypi"
url = "https://test.pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = ">=49.6.0"
wheel = ">=0.35.1"
twine = ">=3.2.0"
python-decouple = ">=3.3"
pytest = ">=6.1.2"
testfixtures = ">=6.15.0"

[packages]
zeppos-root = ">=0.0.9"
cachetools = ">=4.1.1"
zeppos-core = ">=1.0.5"

[requires]
python_version = "3.7"
